header {
  height: 100px;
  background-color: #A1B3D1;
  color: #fff;
  padding-top: 10px;
}

nav {
  height: 100px;
  background-color: #61D3FC;
  color: #fff;
  padding-top: 10px;
}

main {
  height: 600px;
  display:flex;  
  color: #fff;
}  
main section {
  background-color: #FFDA63;
  width: 70%;
}
main sidebar {
  background-color: #EF598D;
  width: 30%;
}

footer {
  height: 60px;
  background-color: #4bae94;
  color: #fff;
  padding-top: 10px;
}
