header {
  height: 100px;
  background-color: #c04e3f;
  color: #fff;
  padding-top: 10px;
}

nav {
  height: 80px;
  background-color: #5c85d6;
  color: #fff;
  padding-top: 10px;
}

main {
  height: 400px;
  background-color: #f4a04b;
  color: #fff;
  padding-top: 10px;
}

footer {
  height: 60px;
  background-color: #4bae94;
  color: #fff;
  padding-top: 10px;
}
